<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2> {{ recipe.name }} </h2>
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" height="80px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group " appDropdown>
      <button type="button " class="btn btn-primary btn-block btn-group-justified dropdown-toggle"> Manage Recipe <span class="caret"></span> </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" class="click"> Add to Shopping List</a></li>
        <li><a href="#"> Edit Recipe </a></li>
        <li><a href="#"> Delete Recipe </a></li>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <h3>{{recipe.description}}</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">


    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Ingredients</h3>
        <br>
        <h4 *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.name}}  <span class="small"> - {{ ingredient.amount}} unit(s)</span>
        </h4>
      </div>

    </div>




  </div>
</div>