<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <input type="text" id="name" class="form-control" placeholder="ingredient name" #nameInput>
        </div>
        <div class="col-sm-3 form-group">
          <input type="number" id="amount" class="form-control " placeholder="amount" #amountInput>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <button class="btn btn-link btn-sm" type="submit" (click)="onAddItem()"><span class="glyphicon glyphicon-plus"></span> </button>
          <button class="btn btn-link btn-sm" type="submit"><span class="glyphicon glyphicon-trash"></span></button>
          <button class="btn btn-link btn-sm" type="submit"><span class="glyphicon glyphicon-refresh"></span> </button>
        </div>
      </div>

    </form>
  </div>
</div>